# Ignore data
available_metahate.tsv
data_archive.tar.gz
dev_data_cleaned.csv
test_data_cleaned.csv
training_data_cleaned.csv

test/

# Don't save model checkpoint/final data
Milestone2-Baseline-BERT-FineTuning/
Milestone2-Baseline-BERT-FinalModel/

Milestone3-BERT-CNN-FineTuning/
Milestone3-BERT-CNN-FinalModel/

Milestone3-BERT-BiLSTM-FineTuning/
Milestone3-BERT-BiLSTM-FinalModel/

# Don't push pycache
*pycache*